body {
    position:fixed;
    background-size: cover;
    background-image: url("alepakuva.jpg");
    background-repeat:no-repeat;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    color:white;
}

.bigWindow {
    position:fixed;
    width: 60em;
    height: 40em;
    margin-left: 7.5%;
    top: 5%;
    background-color: rgba(204, 213, 229, 0.5);
    border: 1px solid white;
    border-radius: 15px;
}

.categoryButton {
    background-color: #4286f4;
    font-family: 'Montserrat', sans-serif;
    float: left;
    border: 1px solid white;
    width: 100%;
    height: 10%;
    color: white;
    overflow: auto;
    left: 5%;
    cursor: pointer;
    border-collapse: collapse;
    margin-top: -6px;
    margin-left: -1px;
}

#categoryBar {
    position: absolute;
    width: 7em;
    height: 20em;
    top: 5%; 
}

#notesArea {
    position: absolute;
    width: 43em;
    height: 30em;
    left: 9em;
    top: 2em;
    border: 1px solid white;
}

#rightPanelContainer {
    position: absolute;
    top: 0.1em;
    right: 4em;
    width : 1em;
}

.rightPanel {
    text-align: center;
    width: 3em;
    height: 6em;
    margin-top: 4em;
}

#writeMessage img, #viewHistoryImg, #searchUsersImg, td {
    cursor: pointer;
}

#newNote {
    background-color: rgb(249, 241, 149);
    color: black;
    position:fixed;
    height: 30em;
    width: 30em;
}

#note {
    background-color: rgb(249, 241, 149);
    color: black;
    position:fixed;
    height: 30em;
    width: 30em;
    margin-left: 5em;
}

.noteTable {
    position: absolute;
    table-layout: fixed;

}

#searchUsersDiv {
    background-color: white;
    color: black;
    position:fixed;
    height: 30em;
    width: 30em;
}

#noteTable tr {
    height: 7em;
}

#noteTable td {
    width: 7em;
}

.individualNote {
    background: no-repeat;
    background-size: cover;
    background-image: url(noteImage.png);
    color: black;
    text-align: center;
    height: 5em;
    width: 10em;
}
