body {
    position:fixed;
    background-size: cover;
    background-image: url("alepakuva.jpg");
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

*
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#loginPageSquare {
    background-color: rgba(111, 157, 232, 0.9);
    width: 30%;
    height: 220px;
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 10px;
    border: 5px solid white;
    text-align:center;
    color: white;
}

.regLabel {
    display:block;
    margin-top: 6%;
    margin-bottom: 2%;
}

.regInput {
    position: absolute;
    display:block;
    left: 25%;
    width: 50%;
}

.centered {
    text-align:center;
}

.noMargin {
    margin: 0;
}

.white {
    color: white;
}

.regButton {
    display: inline-block;
    margin: 2%;
    color: white;
    border-radius: 4px;
    background: #60ba4d;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    width: 8em;
    height: 2em;
}

.bigButton {
    display: inline-block;
    margin: 6%;
    color: white;
    border-radius: 4px;
    background: #60ba4d;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    width: 10em;
    height: 4em;
}

::-webkit-input-placeholder {
   color: grey;
}

